absl-py==0.9.0
alabaster==0.7.12
appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.4
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
bleach==3.1.5
CacheControl==0.12.10
cachetools==5.0.0
certifi==2021.10.8
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==1.6.0
colorama==0.4.3
cryptography==36.0.1
cycler==0.10.0
Cython==0.29.20
dask==2.18.1
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
dill==0.3.1.1
distlib==0.3.0
Django==3.0.6
django-rest-knox==4.1.0
djangorestframework==3.11.0
dlib==19.20.0
dlx==1.0.4
docplex==2.14.186
docutils==0.16
entrypoints==0.3
fastdtw==0.3.4
fastjsonschema==2.14.4
filelock==3.0.12
fire==0.3.1
firebase-admin==5.2.0
flake8==3.8.4
Flask==2.0.3
Flask-Cors==3.0.10
gast==0.3.3
google-api-core==2.5.0
google-api-python-client==2.37.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.1
google-cloud-core==2.2.2
google-cloud-firestore==2.3.4
google-cloud-storage==2.1.0
google-crc32c==1.3.0
google-images-download==2.8.0
google-pasta==0.2.0
google-resumable-media==2.2.1
google-streetview==1.2.9
googleapis-common-protos==1.54.0
grpcio==1.44.0
grpcio-status==1.44.0
h11==0.13.0
h5py==2.10.0
helpdev==0.7.1
httplib2==0.20.4
hyperspy==1.5.2
idna==3.3
imageio==2.8.0
imageio-ffmpeg==0.4.2
imagesize==1.2.0
imutils==0.5.3
inflection==0.5.0
intervaltree==3.1.0
ipykernel==5.3.0
ipympl==0.5.6
ipyparallel==6.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.1
itsdangerous==2.1.0
jedi==0.17.1
Jinja2==3.0.3
joblib==0.15.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
Keras-Preprocessing==1.1.2
keyring==21.4.0
kiwisolver==1.2.0
kwconfig==1.1.7
lazy-object-proxy==1.4.3
llvmlite==0.33.0
Markdown==3.2.2
MarkupSafe==2.1.0
marshmallow==3.6.1
marshmallow-polyfield==5.9
matplotlib==3.2.1
mccabe==0.6.1
mediapipe==0.8.2
mistune==0.8.4
more-itertools==8.3.0
MouseInfo==0.1.3
mpmath==1.1.0
msgpack==1.0.3
msgpack-numpy==0.4.6.post0
mysql-connector-python==8.0.21
mysqlclient==2.0.1
natsort==7.0.1
nbconvert==5.6.1
nbformat==5.0.7
nest-asyncio==1.3.3
networkx==2.4
notebook==6.0.3
ntlm-auth==1.4.0
numba==0.50.0
numexpr==2.7.1
numpy==1.18.5
numpydoc==1.1.0
oauthlib==3.1.0
opencv-python==4.2.0.34
opt-einsum==3.2.1
outcome==1.1.0
packaging==21.3
pandas==1.0.4
pandocfilters==1.4.2
paramiko==2.7.2
parso==0.7.0
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
Pint==0.12
pipenv==2018.11.26
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.5
proto-plus==1.20.3
protobuf==3.19.4
psutil==5.7.0
psycopg2==2.8.5
PTable==0.9.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pybind11==2.5.0
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
PyGetWindow==0.0.9
Pygments==2.6.1
pylint==2.6.0
PyMsgBox==1.0.9
PyNaCl==1.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyperclip==1.8.2
PyQt5==5.12.3
PyQt5-sip==12.8.1
PyQtWebEngine==5.12.1
PyRect==0.1.4
pyrsistent==0.16.0
PyScreeze==0.1.27
python-constraint==1.4.0
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
PyTweening==1.0.3
pytz==2020.1
PyWavelets==1.1.1
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
qiskit==0.19.3
qiskit-aer==0.5.2
qiskit-aqua==0.7.1
qiskit-ibmq-provider==0.7.2
qiskit-ignis==0.3.0
qiskit-terra==0.14.1
QtAwesome==1.0.1
qtconsole==4.7.7
QtPy==1.9.0
Quandl==3.5.0
requests==2.27.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
retworkx==0.3.4
rope==0.18.0
rsa==4.8
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
selenium==4.1.0
Send2Trash==1.5.0
sensormotion==1.1.4
six==1.16.0
slidingwindow==0.0.13
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
sparse==0.10.0
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.1.5
spyder-kernels==1.9.4
sqlparse==0.3.1
statsmodels==0.11.1
sympy==1.6
tabulate==0.8.7
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
tensorpack @ git+https://github.com/ppwwyyxx/tensorpack.git@9c1b1b7b200a66fe93afd00a47f3f198bb4e1393
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.6.3
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
traits==6.1.0
trio==0.19.0
trio-websocket==0.9.2
ujson==4.0.0
uritemplate==4.1.1
urllib3==1.26.8
virtualenv==20.0.21
virtualenv-clone==0.5.4
watchdog==0.10.3
wcwidth==0.2.4
webencodings==0.5.1
websockets==7.0
Werkzeug==2.0.3
widgetsnbextension==3.5.1
wrapt==1.12.1
wsproto==1.0.0
yapf==0.30.0
